* {
    margin: 0;
    padding: 0;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}

body {
    background-color: black;
}

.container {
    display: flex;
}

.left {
    width: 25vw;
    height: calc(100vh - 16px);
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.leftBox1 {
    padding: 15px 20px;
    background-color: #121212;
    border-radius: 5px;
}

.logoClose {
    position: relative;
}

.logo {
    width: 75px;
    height: 24px;
    background-image: url(/Assets/SVG/logo.svg);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.menus {
    padding-top: 17px;
}

.icon {
    width: 20px;
    height: 20px;
}

.menus li {
    color: #a8a8a8;
}

.menus li:hover {
    color: white;
}

.menus ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menus ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.leftBox2 {
    flex-grow: 1;
    margin-top: 7px;
    background-color: #121212;
    padding-bottom: 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.library {
    color: white;
    margin-top: 7px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.libraryIcon {
    background-image: url(/Assets/SVG/playlist.svg);
}

.libraryList {
    color: white;
    width: 90%;
    /* max-width: 445px; */
    height: calc(100vh - 438.4px);
    margin: auto;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.libraryList::-webkit-scrollbar {
    width: 10px;
    /* vertical scrollbar */
    height: 10px;
    /* horizontal scrollbar */
}

/* Track (background) */
.libraryList::-webkit-scrollbar-track {
    background: #0c0b0b;
    border-radius: 10px;
}

/* Thumb (the scrolling part) */
.libraryList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Thumb on hover */
.libraryList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.libraryList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.libraryList li {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.name {
    width: 169px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    color: #b3b3b3;
    font-size: 12px;
}

.playNow {
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 10px;
    width: 51px;
}

@media screen and (max-width: 1185px) {
    .libraryList li {
        padding: 10px 0px;
    }
}

.leftBox3 {
    padding: 0px 20px;
}

.footdata {
    margin: 32px 0px;
}
