* {
    margin: 0;
    padding: 0;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}

body {
    background-color: black;
}

.container {
    display: flex;
}

.left {
    width: 25vw;
    height: calc(100vh - 16px);
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.leftBox1 {
    padding: 15px 20px;
    background-color: #121212;
    border-radius: 5px;
}

.logoClose {
    position: relative;
}

.logo {
    width: 75px;
    height: 24px;
    background-image: url(/Assets/SVG/logo.svg);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.menus {
    padding-top: 17px;
}

.icon {
    width: 20px;
    height: 20px;
}

.menus li {
    color: #a8a8a8;
}

.menus li:hover {
    color: white;
}

.menus ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menus ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
